// views/editar_producto.pug
doctype html
html
  head
    title Editar Producto
    link(rel="stylesheet", href="/css/estilos.css")
  body
    .editar-producto-content(style="background:#F2F0EC;padding:32px 0 24px 0;display:flex;flex-direction:column;align-items:center;")
      .form-box(style="background:#fff;padding:32px 28px;border-radius:12px;box-shadow:0 2px 12px rgba(60,60,60,0.07);max-width:400px;width:100%;")
        h1(style="color:#675858;font-size:1.4rem;text-align:center;margin-bottom:18px;") Editar Producto
        form#form-editar-producto
          input(type="hidden" id="producto-id" name="id" value=producto._id)
          div
            label(for="nombre" style="color:#675858;") Nombre:
            input(type="text" name="nombre" id="nombre" required value=producto.nombre)
          div
            label(for="autor" style="color:#675858;") Autor:
            input(type="text" name="autor" id="autor" required value=producto.autor)
          div
            label(for="precio" style="color:#675858;") Precio:
            input(type="number" name="precio" id="precio" step="0.01" required value=producto.precio)
          div
            button(type="submit" class="button") Guardar Cambios
      a.button(href="/inicio" style="margin-top:18px;") Volver al inicio
    script(src="/js/editar_producto.js")