doctype html
html
  head
    title El Lector Voraz - Inicio
    link(rel="stylesheet", href="/css/estilos.css")
  body
    h1 Bienvenido a El Lector Voraz

    h2 Funcionalidades
    ul
      li: a.button(href="/catalogo") Catálogo de productos
      li: a.button(href="/productos/nuevo") Agregar producto
      li: a.button(href="/proveedores/catalogo") Listado de proveedores
      li: a.button(href="/proveedores/nuevo") Agregar proveedor
      li: a.button(href="/ventas/catalogo") Listado de ventas
      li: a.button(href="/ventas/nueva") Registrar venta
      li: a.button(href="/ventas/reportes") Ver reportes de ventas
  footer
    hr
    p Trabajo Integrador 1° entrega  – Desarrollo Web Backend – IFTS 29
    p Grupo 1: Clausi, Descosido, Gill
