doctype html
html
  head
    title El Lector Voraz - Inicio
    link(rel="stylesheet", href="/css/estilos.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css")
  body
    .banner
      img(src="/img/banner-libreria.webp" alt="Banner librería" class="banner-img")
      .bienvenida-box
        h2 Bienvenido a El Lector Voraz
        p No se registran alertas
        p
          | <b>-</b><br>
          | -<br>
          | -
    section.menu-principal
      img(src="/img/logo-lector-voraz.png" alt="Logo El Lector Voraz" style="width:180px; display:block; margin:0 auto 24px auto;")
      .menu-grupos
        .menu-grupo
          .menu-icon
            i.fas.fa-book.fa-2x
          h3 Libros
          ul
            li: a.button(href="/catalogo") Catálogo de productos
            li: a.button(href="/productos/nuevo") Agregar producto
            li: a.button(href="/proveedores/catalogo") Listado de proveedores
            li: a.button(href="/proveedores/nuevo") Agregar proveedor
            li: a.button(href="/ventas/catalogo") Listado de ventas
            li: a.button(href="/ventas/nueva") Registrar venta
            li: a.button(href="/ventas/reportes") Ver reportes de ventas
        .menu-grupo
          .menu-icon
            i.fas.fa-mug-hot.fa-2x
          h3 Cafetería
          ul
            li: a.button(href="#") Próximamente
        .menu-grupo
          .menu-icon
            i.fas.fa-pencil-ruler.fa-2x
          h3 Artículos de librería
          ul
            li: a.button(href="#") Próximamente
    footer
      hr
      p Trabajo Integrador 2° entrega  – Desarrollo Web Backend – IFTS 29
      p Grupo "El Quinto Elemento" -  Clausi, Descosido, Gill
