doctype html
html
  head
    title Login
    link(rel="stylesheet", href="/css/styles.css")
  body
    .login-container
      img(src="/img/logo-lector-voraz.png" alt="El Lector Voraz Logo" style="width:240px; margin-bottom:24px;")            

      if error
        p(style="color: red") Usuario o contraseña incorrectos

      form(action="/login" method="POST")
        label(for="usuario") Usuario:
        input(type="text" name="usuario" required value=usuario)
        label(for="contrasena") Contraseña:
        input(type="password" name="contrasena" required)
        button(type="submit" class="button") Ingresar
